<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SupportTicketSystem</title>

    
    <link href="~/css/input.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/output.css" rel="stylesheet" />

    <link href="~/css/fonts.css" rel="stylesheet" />
</head>
<body class="font-vazir bg-gray-100 text-gray-800">

    
    <header class="bg-white shadow mb-4">
        <div class="max-w-7xl mx-auto px-4 py-4 flex items-center justify-between">
            <div class="text-xl font-bold text-gray-700">
                <h1>سامانه تیکتینگ</h1>
            </div>
            <nav class="flex gap-4 text-sm">
                <a href="/Logout" class="block px-4 py-2 text-red-600 ">خروج</a>

            </nav>
        </div>
    </header>

   
    <main class="w-full mx-auto px-4">
        @RenderBody()
    </main>

    
    <footer class="mt-8 py-4 text-center text-gray-500 text-sm border-t ">
      این پنل متعلق به  <a href="https://sunflower-dev.com" class="text-blue-500 font-bold">آزاده شریفی سلطانی </a> می باشد
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</body>
</html>
